/*
 * License管理
 * 公有云license管理接口。 场景：对租户license操作的第三方接口。 
 *
 * OpenAPI spec version: 1.0.4
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.huawei.cloudcampus.api.service;

import com.huawei.cloudcampus.api.ApiCallback;
import com.huawei.cloudcampus.api.ApiClient;
import com.huawei.cloudcampus.api.ApiException;
import com.huawei.cloudcampus.api.ApiResponse;
import com.huawei.cloudcampus.api.Configuration;
import com.huawei.cloudcampus.api.Pair;
import com.huawei.cloudcampus.api.ProgressRequestBody;
import com.huawei.cloudcampus.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.huawei.cloudcampus.api.model.ImportActiveCodeDto;
import com.huawei.cloudcampus.api.model.ImportActiveCodeOut;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class LicenseServiceApi {
    private ApiClient apiClient;

    public LicenseServiceApi() {
        this(Configuration.getDefaultApiClient());
    }

    public LicenseServiceApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for importActiveCode
     * @param id license的ID。 (required)
     * @param importActiveCodeDto 导入激活码请求体。 (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call importActiveCodeCall(String id, ImportActiveCodeDto importActiveCodeDto, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = importActiveCodeDto;
        
        // create path and map variables
        String localVarPath = "/controller/campus/v3/license/package/activecode/{id}"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call importActiveCodeValidateBeforeCall(String id, ImportActiveCodeDto importActiveCodeDto, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling importActiveCode(Async)");
        }
        
        // verify the required parameter 'importActiveCodeDto' is set
        if (importActiveCodeDto == null) {
            throw new ApiException("Missing the required parameter 'importActiveCodeDto' when calling importActiveCode(Async)");
        }
        
        
        com.squareup.okhttp.Call call = importActiveCodeCall(id, importActiveCodeDto, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 导入激活码
     * ## 典型场景 ##  用户为license导入激活码时使用。 ## 接口功能 ##  给license导入激活码，可以选择延期或者扩容方式，默认选择延期方式导入。 ## 接口约束 ##  该接口必须在用户会话建立后使用，本接口响应时间较长，最长300秒。本接口支持单次导入激活码数量上限为10个。 
     * @param id license的ID。 (required)
     * @param importActiveCodeDto 导入激活码请求体。 (required)
     * @return ImportActiveCodeOut
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ImportActiveCodeOut importActiveCode(String id, ImportActiveCodeDto importActiveCodeDto) throws ApiException {
        ApiResponse<ImportActiveCodeOut> resp = importActiveCodeWithHttpInfo(id, importActiveCodeDto);
        return resp.getData();
    }

    /**
     * 导入激活码
     * ## 典型场景 ##  用户为license导入激活码时使用。 ## 接口功能 ##  给license导入激活码，可以选择延期或者扩容方式，默认选择延期方式导入。 ## 接口约束 ##  该接口必须在用户会话建立后使用，本接口响应时间较长，最长300秒。本接口支持单次导入激活码数量上限为10个。 
     * @param id license的ID。 (required)
     * @param importActiveCodeDto 导入激活码请求体。 (required)
     * @return ApiResponse&lt;ImportActiveCodeOut&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ImportActiveCodeOut> importActiveCodeWithHttpInfo(String id, ImportActiveCodeDto importActiveCodeDto) throws ApiException {
        com.squareup.okhttp.Call call = importActiveCodeValidateBeforeCall(id, importActiveCodeDto, null, null);
        Type localVarReturnType = new TypeToken<ImportActiveCodeOut>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * 导入激活码 (asynchronously)
     * ## 典型场景 ##  用户为license导入激活码时使用。 ## 接口功能 ##  给license导入激活码，可以选择延期或者扩容方式，默认选择延期方式导入。 ## 接口约束 ##  该接口必须在用户会话建立后使用，本接口响应时间较长，最长300秒。本接口支持单次导入激活码数量上限为10个。 
     * @param id license的ID。 (required)
     * @param importActiveCodeDto 导入激活码请求体。 (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call importActiveCodeAsync(String id, ImportActiveCodeDto importActiveCodeDto, final ApiCallback<ImportActiveCodeOut> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = importActiveCodeValidateBeforeCall(id, importActiveCodeDto, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ImportActiveCodeOut>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
