/*
 * 设备出厂设置恢复
 * 设备恢复出厂设置第三方接口。
 *
 * OpenAPI spec version: 1.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.huawei.cloudcampus.api.service;

import com.huawei.cloudcampus.api.ApiCallback;
import com.huawei.cloudcampus.api.ApiClient;
import com.huawei.cloudcampus.api.ApiException;
import com.huawei.cloudcampus.api.ApiResponse;
import com.huawei.cloudcampus.api.Configuration;
import com.huawei.cloudcampus.api.Pair;
import com.huawei.cloudcampus.api.ProgressRequestBody;
import com.huawei.cloudcampus.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.huawei.cloudcampus.api.model.ResetDeviceRequest;
import com.huawei.cloudcampus.api.model.ResetDeviceResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ResetNorthboundApi {
    private ApiClient apiClient;

    public ResetNorthboundApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ResetNorthboundApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for resetDevice
     * @param request 批量恢复设备出厂设置请求。 (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call resetDeviceCall(ResetDeviceRequest request, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = request;
        
        // create path and map variables
        String localVarPath = "/controller/campus/v1/oamservice/reset/device-configurations";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call resetDeviceValidateBeforeCall(ResetDeviceRequest request, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'request' is set
        if (request == null) {
            throw new ApiException("Missing the required parameter 'request' when calling resetDevice(Async)");
        }
        
        
        com.squareup.okhttp.Call call = resetDeviceCall(request, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 批量恢复设备出厂设置
     * ## 典型场景 ## 批量恢复设备出厂设置。 ## 接口功能 ## 批量恢复设备出厂设置，设备恢复出厂设置后，会从站点中移除。 ## 接口约束 ## 该接口支持租户下北向接口管理访问，必须在用户会话建立后使用。该接口为同步接口，接口耗时与设备网络状态有关，超时时间为1分钟。 
     * @param request 批量恢复设备出厂设置请求。 (required)
     * @return ResetDeviceResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ResetDeviceResponse resetDevice(ResetDeviceRequest request) throws ApiException {
        ApiResponse<ResetDeviceResponse> resp = resetDeviceWithHttpInfo(request);
        return resp.getData();
    }

    /**
     * 批量恢复设备出厂设置
     * ## 典型场景 ## 批量恢复设备出厂设置。 ## 接口功能 ## 批量恢复设备出厂设置，设备恢复出厂设置后，会从站点中移除。 ## 接口约束 ## 该接口支持租户下北向接口管理访问，必须在用户会话建立后使用。该接口为同步接口，接口耗时与设备网络状态有关，超时时间为1分钟。 
     * @param request 批量恢复设备出厂设置请求。 (required)
     * @return ApiResponse&lt;ResetDeviceResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ResetDeviceResponse> resetDeviceWithHttpInfo(ResetDeviceRequest request) throws ApiException {
        com.squareup.okhttp.Call call = resetDeviceValidateBeforeCall(request, null, null);
        Type localVarReturnType = new TypeToken<ResetDeviceResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * 批量恢复设备出厂设置 (asynchronously)
     * ## 典型场景 ## 批量恢复设备出厂设置。 ## 接口功能 ## 批量恢复设备出厂设置，设备恢复出厂设置后，会从站点中移除。 ## 接口约束 ## 该接口支持租户下北向接口管理访问，必须在用户会话建立后使用。该接口为同步接口，接口耗时与设备网络状态有关，超时时间为1分钟。 
     * @param request 批量恢复设备出厂设置请求。 (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call resetDeviceAsync(ResetDeviceRequest request, final ApiCallback<ResetDeviceResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = resetDeviceValidateBeforeCall(request, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ResetDeviceResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
